*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #ffdd5a !important;
}

.gridContainer{
    display: grid;
    background-color: #ffdd5a;
    grid-template-columns: 0.7fr 2fr 1fr;
    grid-template-rows: 1fr 0.20fr 1fr;
    gap: 5px;
}
.hijo{
    background-color: #ffdd5a;
   
}
.intro__inicio{
    margin-top:100px;

}
.hijo-1__inicio{
    margin-bottom: 100px;
    grid-column: 1/4;  
    text-align: center; 
}
.hijo-2__inicio{
    background-color: #ffdd5a;
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
}
.hijo-3__inicio{
    background-color: #ffdd5a;
    grid-column:1/4;
    display:grid;
    justify-content: stretch;
    text-align: center;
    height: 350px;
}
.hijo-3__inicio section{
    background-color: #ffdd5a;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

.hijo-4__inicio{
    background-color: #ffdd5a;
    align-self: stretch;
    justify-self: stretch;
    grid-column: 1/4;
    text-align: center;
    margin-top: 200px;
}
.img__efects{
    transition: width 2s, height 2s, transform 2s;
}
.img__efects:hover{
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}
.descripcion{
    font-weight: bold;
    font-size: large;
    text-align: justify;
    justify-content: center;
    display: -webkit-box;
    margin-top: 15px;
    margin-bottom: 50px;
}
img{
    margin-bottom: 50px;
}
h2{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.hijo-5__inicio{
    background-color: #ffdd5a;
    align-self: stretch;
    justify-self: stretch;
    grid-column: 1/4;
    text-align: center;
}
.semipermante__diseno{
    margin-top:300px;
}
.nailArt__diseno{
    margin-top:150px;
}
.pressON__diseno{
    margin-top:150px;
}
.hijo-6__inicio{
    background-color: #ffdd5a;
    align-self: stretch;
    justify-self: stretch;
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 100px;
}
.imagenes__trabajos__ejemplo3{
    margin-top: 50px;
}
.hijo-7__inicio{
    margin-bottom: 100px;
    background-color: #ffdd5a;
    align-self: stretch;
    justify-content: stretch;
    align-self: stretch;
    grid-column: 1/4;   
}
.pie__inicio{
    font-size: x-large;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}    
.pie__pages{
    margin-top: 200px;
    margin-right: 100px;
    margin-left: 100px;
    text-decoration: none;
    font-weight: bold;
}
.turnos__li{
    display: block;
    font-size: medium;
    text-align: inherit;
}
.espacio__formu{
    margin-top:100px;
    margin-bottom: 300px;
}
.turnos__diseno{
    margin-top:50px;
}
.turnos__titulo{
    margin-top:100px;
}
